.order {
    margin: 0 260px 80px 260px;
    background-color: #F43127;
    border-radius: 10px;
    padding: 16px 20px 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
        display: flex;
        align-items: center;
        gap: 20px;

        .information {

            h4 {
                font-family: 'Lilita One', cursive;
                color: #1d0605ac;
                text-transform: uppercase;
                font-size: 25px;
            }

            p {
                color: #fff;
                padding-top: 6px;
            }

        }

    }

    .right {
        button {
            background-color: #fff;
            border: 1px solid #fff;
            color: #F43127;
        }
    }
}

@media only screen and (max-width: 1500px) {
    .order {
        margin: 0 120px 80px 120px;
    }
}

@media only screen and (max-width: 1220px) {
    .order {
        margin: 0 60px 80px 60px;
    }
}

@media only screen and (max-width: 960px) {
    .order {
        gap: 20px;
    }
}

@media only screen and (max-width: 870px) {
    .order {
        display: none;
    }
}


@media only screen and (max-width: 450px) {
    .order {
        margin: 0 20px 80px 20px;
    }
}