.container {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 80px 260px;

    img {
        width: 500px;
    }

    div {

        h3 {
            font-size: 40px;
            text-transform: uppercase;

            .first {
                font-family: 'Lilita One', cursive;
                color: #3B200B;
                padding-left: 8px;
            }

            .custom {
                font-family: 'Lilita One', cursive;
                background-color: #F59A1B;
                padding: 4px 8px;
                border-radius: 4px;
                color: #3B200B;
            }
        }

        p {
            color: #1D0605B0;
            padding: 10px 0 20px 0;
            font-size: 20px;
            padding-left: 8px;
        }

        button {
            margin-left: 8px;
        }
    }
}

@media only screen and (max-width: 1500px) {
    .container {
        margin: 80px 120px;
    }
}

@media only screen and (max-width: 1220px) {
    .container {
        margin: 80px 60px;
    }
}

@media only screen and (max-width: 1085px) {
    .container {
        flex-direction: column;
        gap: 20px;

        img {
            width: 100%;
        }

        div {
            width: 100%;

            p {
                padding: 20px 0 30px 0;
            }
        }

        button {
            margin-left: 0 !important;
        }
    }
}


@media only screen and (max-width: 570px) {
    .container {
        margin: 340px 60px 80px 60px;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        margin: 340px 20px 80px 20px !important;
    }
}