.container {
    display: flex;

    .left {
        position: relative;
        object-fit: cover;

        img {
            width: 50vw;
            height: 700px;
            object-fit: cover !important;
        }

        .info {
            position: absolute;
            right: 60px;
            top: 50%;
            transform: translateY(-50%);

            h3 {
                font-size: 40px;
                font-family: 'Lilita One', cursive;
                color: #3B200B;
                text-transform: uppercase;

                span {
                    font-family: 'Lilita One', cursive;
                    background-color: #F59A1B;
                    padding: 4px 8px;
                    border-radius: 4px;
                }
            }

            p {
                color: #1D0605B0;
                padding: 10px 0 20px 0;
            }
        }
    }

    .right {
        background-color: #3B200B;
        width: 50%;

        h3 {
            margin: 40px 0 20px 40px;
            color: #F59A1B;
            text-transform: uppercase;
            font-family: 'Lilita One', cursive;
            font-size: 32px;
        }

        li {
            color: #fff;
            margin: 0 0 22px 40px;
            margin-right: 260px;

            h6 {
                letter-spacing: 1.5px;
                font-size: 20px;
                font-family: 'Lilita One', cursive;
                text-transform: uppercase;
                padding: 0 0 4px 0;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        margin: 100px 0 0 0;
    }
}

@media only screen and (max-width: 1280px) {
    .container {
        flex-direction: column;

        .left {

            img {
                width: 100%;
            }
        }

        .right {
            width: 100%;

            h3 {
                margin: 40px 0 20px 60px;
            }

            li {
                color: #fff;
                margin: 0 0 30px 60px;
                margin-right: 40px;

                h6 {
                    letter-spacing: 1.5px;
                    font-size: 20px;
                    font-family: 'Lilita One', cursive;
                    text-transform: uppercase;
                    padding: 0 0 4px 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .container {
        margin: 360px 0 0 0;
    }
}

@media only screen and (max-width: 570px) {
    .container {
        display: none;
    }
}