.container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 92%;

    .body {
        background-color: #fff;
        width: 1100px;
        height: 100px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 4px 40px 0px #B29B8480;

        span {
            background-color: rgb(186, 186, 186);
            width: 1px;
            height: 60px;
        }

        div {
            display: flex;

            img {
                width: 60px;
                height: 60px;
                padding: 5px 0 0 0;
            }

            .item {
                display: flex;
                flex-direction: column;
                padding-left: 16px;
                gap: 10px;

                h6 {
                    font-family: 'Lilita One', cursive;
                    font-size: 20px;
                    color: #1D0605E5;
                    text-transform: uppercase;
                }

                P {
                    color: #615453e5;
                    font-weight: 400;
                }
            }
        }
    }
}

@media only screen and (max-width: 1700px) {
    .body {
        width: 900px !important;
    }
}

@media only screen and (max-width: 1100px) {
    .body {
        margin: 0 60px;
    }
}

@media only screen and (max-width: 850px) {
    .container {
        top: 86%;

        .body {
            padding: 20px 20px;
            width: 460px !important;
            flex-direction: column;
            height: 100% !important;
            gap: 30px;

            span {
                background-color: rgb(186, 186, 186);
                width: 240px !important;
                height: 1px !important;
            }
        }
    }
}