.nav {
    padding: 10px 260px 10px 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(233, 243, 233, 0.404);

    button {
        background-color: #F59A1B;
        border: 1px solid #F59A1B;
        gap: 10px;
    }

    .nav_items {
        display: flex;
        gap: 30px;
    }
}

@media only screen and (max-width: 1500px) {
    .nav {
        padding: 10px 120px 10px 120px;
    }
}

@media only screen and (max-width: 1220px) {
    .nav {
        padding: 10px 60px 10px 60px;
    }
}