.container {
    width: 100%;
    max-width: 2000px;
    position: relative;

    .header {
        width: 100%;
        height: 540px;
        background: url(../../assets/img/Banner.svg) no-repeat top center;
        position: relative;

        div {
            margin-left: 260px;
            position: absolute;
            top: 45%;
            transform: translateY(-50%);

            h5 {
                font-size: 1.375rem;
                color: #3B200B;
                font-weight: 600;
            }

            h1 {
                font-family: 'Lilita One', cursive;
                font-size: 4.875rem;
                color: #3B200B;

                span {
                    font-family: 'Lilita One', cursive;
                    font-size: 4.875rem;
                    color: #F59A1B;
                }
            }

            p {
                font-size: 1.25rem;
                font-weight: 400;
                color: #462811;
                padding: 10px 0 26px 0;
            }
        }
    }
}

@media only screen and (max-width: 1500px) {}